body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(fondoini.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}


#bloq1{
    color: rgb(255, 255, 255);
    font-family:fantasy;
    font-size: 80px;
    width: 100%px;
    height: 165%;
    left:20%;
    top: 0%;
    position: absolute;
    background-color: #e74d3c7a;
}
#contenedormenu{
    margin: auto;
    top: 100px;
    float :right;
    position: absolute;
    left: 25%;
}
ul, ol{
    list-style: none;
}   
.nav >li{
    float: left;
}
.nav li a{
    background-color: #E74C3C;
    color: rgb(255, 255, 255);
    text-decoration:double;
    padding: 25px 50px;
    font-family:fantasy;
    font-size: 30px;
    display: block;
}
.nav li a:hover{
   background-color: #e2301c;
}
.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;

}
.nav li:hover> ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
}

#registro{
    margin: auto;
    float :right;
    position: absolute;
    left: 32%;
    top: 25%;
}
.contenedor{
    width: 100%;
    height: 50%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #e74c3c;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 70%;
    left: 30%;
    position: relative;
    color: white;
    font-size: 20px;
    background:  #e74c3c;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

.button:hover{
    background: rgb(213, 228, 81);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #e74c3c;
    font-weight: 600;
}
.link:hover{
     color: rgb(213, 228, 81);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

#img1{
    width: 400px;
    height: 250px;
    left:35%;
    top: 120%;
    position: absolute;
}



























