@font-face {
    font-family: "toreto";
    src: url("fuente/Market_Deco.ttf");
  }
#empresa{
    position:absolute;
    top: 10px;
    left: 150px;
    font-size: 300%;
    font-family: toreto;
    text-shadow: 4px 4px 4px silver;
    border: solid black;
    border-radius: 20px;
}
#lema{
    position: absolute;
    top: 100px;
    left: 200px;
    font-family: toreto;
    font-size: 130%;
}
#toretto{
    position: absolute;
    width: 200px;
}
#titulo{
    position: relative;
    top: 50px;
    left: 15px;
    box-shadow: 0px 0px black;
}
#NOMBRE{
    position: relative;
}
#tabla{
    position: absolute;
    top: 270px;
    border: solid black;
    box-shadow: 0px 0px 20px black;
    width: 80%;
    height: 30px;
    left: 10%;
}
#presentacion{
    position: absolute;
    left: 50px;
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
}
#calificacion{
    position: absolute;
    right: 50px;
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
}
#fondo{
    background-image: url("images/fondo_profe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#pizarra{
    position: absolute;
    margin: auto;
    width: 400px;
    bottom: 0px;
}
#notas{
    position: absolute;
    bottom: 180px;
    font-size: 30px;
    left: 50px;
}
#promedio{
    position: absolute;
    width: 100px;
    bottom: 200px;
    left: 50%;
}
#prom_final{
    position: absolute;
    width: 350px;
    bottom: 0px;
    right: 0px;
}
#lista{
    position: absolute;
    left: 40%;
    top: 5px;
}
@font-face {
    font-family: "alumno";
    src: url("fuente/Regis-Semi\ Bold.ttf");
  }
#mensaje{
    position: absolute;
    bottom: 100px;
    right: 80px;
    width: 200px;
    height: 200px;
    word-wrap: break-word;
    font-family: alumno;
    font-size: 25px;
}
#botones{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
}

#regresar{
    position: absolute;
    width: 50px;
    bottom: 0px;
    right: 100px;
}
#home{
    position: absolute;
    width: 50px;
    bottom: 5px;
    right: 200px;
}